<h1>Listing des Moussaillons</h1>
 
<table>
  <tr>
    <th>Profil</th>
    <th>Description</th>
    <th> 
  </tr>
 
  <% @moussaillon.each do |moussaillon| %>
    <tr>
      <td><%= link_to moussaillon.username, moussaillon_path(moussaillon)  %></td>
      <td><%= moussaillon.bio %></td>
    </tr>
  <% end %>
</table>